In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ajith\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\ajith\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

In [3]:
con=mysql.connector.connect(
host="localhost",
user="root",
password="",
database="ems"
)
def insertion(emp_id,emp_name,emp_salary,emp_department,email):
    res=con.cursor()
    sql="insert into employee(emp_id,emp_name,emp_salary,emp_department,email)values(%s,%s,%s,%s,%s)"
    user=(emp_id,emp_name,emp_salary,emp_department,email)
    res.execute(sql,user)
    con.commit()
    print("=====INSERTED SUCCESFUL======")
def update(emp_name,emp_salary,emp_department,email,emp_id):
    res=con.cursor()
    sql="update employee set emp_name = %s,emp_salary = %s,emp_department = %s,email = %s where emp_id=%s"
    data=(emp_name,emp_salary,emp_department,email,emp_id)
    res.execute(sql,data)
    con.commit()
    print("==========UPDATED SUCCESFUL===========")
def display():
    res=con.cursor()
    sql="select * from employee"
    res.execute(sql)
    rows=res.fetchall()
    for row in rows:
        print(row)
def deletion(emp_id):
    res=con.cursor()
    sql="delete from employee where emp_id=%s"
    value=(emp_id,)
    res.execute(sql,value)
    con.commit()
    print("======DELETED SUCCESSFUL=======")
while True:
    print("1.INSERT DATA")
    print("2.UPDATE")
    print("3.DISPLAY")
    print("4.DELETE")
    print("5.QUIT")
    ch=int(input("ENTER YOUR CHOICE="))
    if ch==1:
        emp_id=int(input("ENTER ID="))
        emp_name=input("ENTER NAME=")
        emp_salary=float(input("SALARY="))
        emp_department=input("DEPARTMENT=")
        email=input("EMAIL=")
        insertion(emp_id,emp_name,emp_salary,emp_department,email)
    elif ch==2:
        emp_name=input("NAME=")
        emp_name=float(input("SALARY="))
        emp_department=input("DEPARTMENT=")
        email=input("ENTER EMAIL=")
        emp_id=int(input("ENTER ID="))
        update(emp_id,emp_name,emp_salary,emp_department,email)
    elif ch==3:
        display()
    elif ch==4:
        emp_id=input("ENTER ID TO BE DELETED=")
        deletion(emp_id)
    elif ch==5:
        break
    else:
        print("invalid selection")
print("=======================Thankyou========================================")

1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=3
(1, 'AJITH', Decimal('60000.00'), 'IT', 'a@gmail.com')
(2, 'VISHNU', Decimal('30000.00'), 'HR', 'g@gmail.com')
(3, 'GOPIKA', Decimal('60000.00'), 'IT', 'go@gmail.com')
(4, 'SARATH', Decimal('40000.00'), 'ANALYST', 's@gmail.com')
(5, 'AMMU', Decimal('20000.00'), 'HR', 'am@gmail.com')
(6, 'ABHIJITH SURESH', Decimal('50000.00'), 'IT', 'AB@GMAIL.COM')
(7, 'SONI P SUNIL', Decimal('56222.00'), 'HR', 'aa@gmail.com')
(8, 'NANDU', Decimal('56000.00'), 'IT', 'na@gmail.com')
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=1
ENTER ID=9
ENTER NAME=DIVYA
SALARY=50000.00
DEPARTMENT=HR
EMAIL=divya@gmail.com
=====INSERTED SUCCESFUL======
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=3
(1, 'AJITH', Decimal('60000.00'), 'IT', 'a@gmail.com')
(2, 'VISHNU', Decimal('30000.00'), 'HR', 'g@gmail.com')
(3, 'GOPIKA', Decimal('60000.00'), 'IT', 'go@gmail.com')
(4, 'SARATH', Decimal('40000.00'), 'ANALYST', 's@gmail.com')
(5, 'AMMU', Decimal('20000.00'), 'HR', 'am@gmail.com')
(6, 'ABHIJITH SURESH', Decimal('50000.00'), 'IT', 'AB@GMAIL.COM')
(7, 'SONI P SUNIL', Decimal('56222.00'), 'HR', 'aa@gmail.com')
(8, 'NANDU', Decimal('56000.00'), 'IT', 'na@gmail.com')
(9, 'DIVYA', Decimal('50000.00'), 'HR', 'divya@gmail.com')
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=2
NAME=GOKUL
SALARY=50000.00
DEPARTMENT=IT
ENTER EMAIL=goo@gmail.com
ENTER ID=2
==========UPDATED SUCCESFUL===========
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=4
ENTER ID TO BE DELETED=9
======DELETED SUCCESSFUL=======
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=3
(1, 'AJITH', Decimal('60000.00'), 'IT', 'a@gmail.com')
(2, 'VISHNU', Decimal('30000.00'), 'HR', 'g@gmail.com')
(3, 'GOPIKA', Decimal('60000.00'), 'IT', 'go@gmail.com')
(4, 'SARATH', Decimal('40000.00'), 'ANALYST', 's@gmail.com')
(5, 'AMMU', Decimal('20000.00'), 'HR', 'am@gmail.com')
(6, 'ABHIJITH SURESH', Decimal('50000.00'), 'IT', 'AB@GMAIL.COM')
(7, 'SONI P SUNIL', Decimal('56222.00'), 'HR', 'aa@gmail.com')
(8, 'NANDU', Decimal('56000.00'), 'IT', 'na@gmail.com')
1.INSERT DATA
2.UPDATE
3.DISPLAY
4.DELETE
5.QUIT
ENTER YOUR CHOICE=5
=======================Thankyou========================================